
<!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
rel="stylesheet"
/>

<%- include('./partials/header.ejs') %>

  
  <!-- Hero !-->
  <section class="banner">
    <div class="landing-banner-text ">
        <h1 class="animate__animated animate__bounce">When elegance<br> meets comfort</h1>
    </div>
  </section>
  
  <!-- Section 1 !-->
  <div class="book-section-container">
      <div class="book-section">
              <div  class="inner-text ">
                  check-in-date<br>
                  <input type="date" placeholder="Check-in-date">
              </div>
              <div class="inner-text">
                  check-out-date<br>
                  <input type="date"placeholder="Check-out-date">
              </div>
              <div class="inner-text">
                  Rooms<br>
                  <input type="text" list="suite" placeholder="Suite">
                  <datalist id="suite">
                    <option value="Suite">
                    <option value="Family Room">
                    <option value="Delux Room">
                    <option value="Classic Room">
                    <option value="Superior Room">
                    <option value="Luxury Room">
                  </datalist>
              </div>
              <div class="inner-text">
                  Guests<br>
                  <input type="text" list="adult" placeholder="Adult">
                  <datalist id="adult">
                    <option value="1 Adult">
                    <option value="2 Adults">
                    <option value="Family">
                    <option value="4 Adults">
                    <option value="5 Adults">
                  </datalist>
              </div>
              <div class="inner-text">
                  <a href="www.google.com">Check Availability</a><br>
                  <div class="inner-text-description">Best price guaranteed!</div>
              </div>
      </div>  
  </div>

  <div class="landing-banner"></div>

  
  <!-- Section 2 !-->
  <section class="section-2">
        <div class="offers-paragraph">
          <h5>Escape for a while</h5>
          <h6>Enjoy the freedom of a monthly stay on StayOut</h6>
          <a href="/hotels"><button type="button" class="btn btn-primary">Discover monthly Stays</button></a>
        </div>
        <div class="explore">EXPLORE INDIA</div>
        <div class="showcase-container p-0 row">
            <div class="item col-2 m-0 p-0">
                <div class="item1" style="background-image: url('https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80')">
                </div>
                <div class="showcase-text">Goa</div>
            </div>
            <div class="item col-2 m-0 p-0">
                <div class="item1" style="background-image: url('https://images.unsplash.com/photo-1638886540342-240980f60d25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');">
                </div>
                <div class="showcase-text">Ooty</div>
            </div>
            <div class="item col-2 m-0 p-0">
                <div class="item1" style="background-image: url('https://images.unsplash.com/photo-1524544187526-2b2855b65f16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80')
                ">
                </div>
                <div class="showcase-text">Bengluru</div>
            </div>
            <div class="item col-2 m-0 p-0">
                <div class="item1" style="background-image: url('https://cdn.pixabay.com/photo/2015/07/08/12/23/nepal-836309_960_720.jpg')
                ">
                </div> 
                <div class="showcase-text">Shimla</div>
            </div>
            <div class="item col-2 m-0 p-0">
              <div class="item1" style="background-image: url('https://images.unsplash.com/photo-1587474260584-136574528ed5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
              ">
              </div> 
              <div class="showcase-text">Delhi</div>
          </div>
          <div class="item col-2 m-0 p-0">
            <div class="item1" style="background-image: url('https://images.unsplash.com/photo-1477586957327-847a0f3f4fe3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
            ">
            </div> 
            <div class="showcase-text">Jaipur</div>
        </div>
        </div>

        <!-- <div class="box">
          <div class="text">
            <h1>Hotel Facilities</h1>


          </div>
        </div> -->


    </section>

<!-- 
    <section class="section-3">
      
    
      <div class="body1">
        <div class="waviy">
            <span style="--i:1">r</span>
            <span style="--i:2">e</span>
            <span style="--i:3">d</span>
            <span style="--i:4">i</span>
            <span style="--i:5">s</span>
            <span style="--i:6">c</span>
            <span style="--i:7">o</span>
            <span style="--i:8">v</span>
            <span style="--i:9">e</span>
            <span style="--i:10">r</span>
        </div>
    </div>
        <div class="content">
          <video autoplay muted loop id="myVideo">
            <source src="https://player.vimeo.com/external/375589069.sd.mp4?s=e6466961a8e453fd0f32f9ed47b1bffd59371965&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
            </video>
        </div>
    </section> -->

    <section class="section-4">
        <!-- <div class="heading">Choose By Destination...</div> -->
        <div class="body1">
          <div class="waviy">
              <span style="--i:1">r</span>
              <span style="--i:2">e</span>
              <span style="--i:3">d</span>
              <span style="--i:4">i</span>
              <span style="--i:5">s</span>
              <span style="--i:6">c</span>
              <span style="--i:7">o</span>
              <span style="--i:8">v</span>
              <span style="--i:9">e</span>
              <span style="--i:10">r</span>
          </div>
      </div>
        <div class="grid-container">
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/1450363/pexels-photo-1450363.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
                </div>
                <div class="text">Resort Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.unsplash.com/photo-1546967900-1bea5f16b69d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBpbnRlcmlvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60')">
                </div>
                <div class="text">Modern Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/2977400/pexels-photo-2977400.jpeg?auto=compress&cs=tinysrgb&w=600')">
                </div>
                <div class="text">Lodge</div>
            </a>
            <a class="grid-item" href="#">
                <div class="image" style="background-image: url('https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80')">
                </div>
                <div class="text" >Boutique Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.unsplash.com/photo-1579103709853-941467805d52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80')">
                </div>
                <div class="text">Minimalist Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/579/439/717/landscape-mountains-house-rocks-wallpaper-preview.jpg')">
                </div>
                <div class="text">Mountain Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/70441/pexels-photo-70441.jpeg')">
                </div>
                <div class="text">Luxury Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/1697076/pexels-photo-1697076.jpeg?auto=compress&cs=tinysrgb&w=600')">
                </div>
                <div class="text">City Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?auto=compress&cs=tinysrgb&w=600')">
                </div>
                <div class="text">Cultural Hotel</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/2373201/pexels-photo-2373201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
                </div>
                <div class="text">Beach Resort</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/1458457/pexels-photo-1458457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
                </div>
                <div class="text">Apartment</div>
            </a>
            <a class="grid-item" href="#" style="color: rgb(41, 41, 41); text-decoration: none;">
                <div class="image" style="background-image: url('https://images.pexels.com/photos/261102/pexels-photo-261102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
                </div>
                <div class="text">Classic Hotel</div>
            </a>
        </div>
    </section>

    <section class="section-5"></section>

    <section class="section-6">
      <div class="offers-heading">
        <img src="https://freepngimg.com/thumb/special_offer/8-2-special-offer-png-image.png" alt="">
        <div class="gradient-border"><div class="offer-text">
          Double Room for Rs.3000 and Executive Room for Rs.3500. Show this text and get additional 10% discount only at The Essence Hotel.Click on the button below to get the offer!
        </div>
          <div class="button">
            <a href="/hotels"><button type="button" class="btn btn-info">Click Here</button></a>
            

          </div>


        </div>
      </div>
    </section>

    <section class="section-7">
        <div class="staff">Our Staff</div>
        <div class="staff-box">
            <div class="item" style="background-image: url('https://images.unsplash.com/photo-1627161683077-e34782c24d81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJ1c2luZXNzJTIwd29tYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60')">
              <div class="staff-name">Steffany Desh</div>
              <div class="staff-post">Manager</div>
            </div>
            <div class="item" style="background-image: url('https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80')">
              <div class="staff-name">Christian Ford</div>
              <div class="staff-post">CEO</div>
            </div>
            <div class="item" style="background-image: url('https://img.freepik.com/free-photo/smiley-businesswoman-posing-city-with-arms-crossed_23-2148767033.jpg?w=740&t=st=1683055284~exp=1683055884~hmac=da5ab9e03fa580fb588734d39d0ec21625ea3cbae6b64b54273cb223a456167a')">
              <div class="staff-name">Tiffany Johnson</div>
              <div class="staff-post">Concierge</div>
            </div>
        </div>
    </section>


    <section class="section-8">
        <div class="review-headline">“Customers may forget what you said but they will never forget how you made them feel”.</div>
        <!-- Carousel wrapper -->
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
      <button class="carousel-control-prev position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-relative" type="button"
        data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Anna Deynah</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                The rooms were clean, very comfortable, and the staff was amazing. They went over and beyond to help make our stay enjoyable. I highly recommend this hotel for anyone visiting downtown
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                I had a wonderful experience. Every staff member I encountered, from the valet to the check- in to the cleaning staff were delightful and eager to help! Thank you! Will recommend to my colleagues
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Took advantage of the downtown location to walk to dinner, check out a couple galleries, and have drinks. It was great. Service top notch as always. Bed comfort can not be beat
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Excellent property and very convenient to USC activities. Front desk staff is extremely efficient, pleasant and helpful. Property is clean and has a fantastic old time charm.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Alex Rey</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                The staff was the nicest staff I have ever encountered at a hotel. They were always friendly and asked how our stay was going every time we walked in the door. 
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Hotel exceeded my expectations was spotless the staff was amazing and the most comfortable bed I have ever slept in
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Anna Deynah</h5>
              <p>UX Designer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Love the charm of this hotel. Does not give you the routine chain hotel vibe at all. While I did not get there in time to eat at restaurant, have heard amazing reviews on the restaurant.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">John Doe</h5>
              <p>Web Developer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                Lovely hotel with a wonderful restaurant. Very friendly staff. Hotel is full of great art. Just a charming place.
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li>
                  <i class="fas fa-star-half-alt fa-sm"></i>
                </li>
              </ul>
            </div>
  
            <div class="col-lg-4 d-none d-lg-block">
              <img class="rounded-circle shadow-1-strong mb-4"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
                style="width: 150px;" />
              <h5 class="mb-3">Maria Kate</h5>
              <p>Photographer</p>
              <p class="text-muted">
                <i class="fas fa-quote-left pe-2"></i>
                The bed was extremely comfortable. The room was spacious and clean. The vintage aesthetics were awesome. Wish we weren’t just passing through
              </p>
              <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="far fa-star fa-sm"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->
    </section>

    <section class="section-9">
        <div class="footer-showcase">
              <div id="items-carousel" class="carousel slide footer-showcase-items" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1611048267451-e6ed903d4a38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWwlMjBpbnRlcmlvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/81/34/47/1000_F_281344776_BU8Z7Yr6TM3cdjrwu3zsa0OqE0YbXJTY.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/2507007/pexels-photo-2507007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <div id="items-carousel" class="carousel slide  footer-showcase-items" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1611892440504-42a792e24d32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg?w=1060&t=st=1683133068~exp=1683133668~hmac=ffd44eb4e16070c682c9029ffb42147797d46fce0d77caf5a25ce95186195c86" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <div id="items-carousel" class="carousel slide  footer-showcase-items" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.pexels.com/photos/2961968/pexels-photo-2961968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/735869/pexels-photo-735869.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1535567465397-7523840f2ae9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <div id="items-carousel" class="carousel slide  footer-showcase-items" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>

        <div class="landingfooter">
          <div class="landingfooter-1">
            <div class="item">
              <div class="landingfooter-item">
                <h3>StayOut</h3>
              </div>

              <div class="landingfooter-item">
                <div class="details">
                  Find your comfort place here!
                </div>
                <div class="social-media">  <i class="fa-brands fa-instagram fa-beat">  </i>
                  <i class="fa-brands fa-facebook-f fa-beat"></i>
                  <i class="fa-brands fa-twitter fa-beat"></i></div>
              </div>
              </div>
            <div class="item">
              <div class="landingfooter-item">
                <h3>Services</h3>
              </div>
              <div class="landingfooter-item">
               <div> <a href="/hotels">Car rental services</a></div>
               <div> <a href="/hotels">Catering services</a></div>
               <div> <a href="/hotels">Concierge services</a></div>
               <div> <a href="/hotels">Courier services</a></div>
               <div> <a href="/hotels">Doctor on call</a></div>
              </div>
            </div>
            <div class="item">
              <div class="landingfooter-item"></div>
              <div class="landingfooter-item">
                <a href="/hotels">Laundry and valet service</a>
              <a href="/hotels">Mail services</a>
              <a href="/hotels">Room service (24-hour)</a>
              <a href="/hotels">Shoeshine service</a>
              <a href="/hotels">Ticket service</a>
              </div>
    
            </div>
            <div class="item">
                <div class="landingfooter-item">
                  <h3>Quick Links</h3>
                </div>
                
                <div class="landingfooter-item">
                  <div><a href="#">Home</a></div> 
                  <div> <a href="/hotels">Hotels</a></div>
                  <div> <a href="/hotels">About</a> </div>
                  <div><a href="/hotels">Resto and Bar</a></div> 
              </div>
            </div>
            <div class="item">
              <div class="landingfooter-item"><h3>Have a question?</h3></div>
              <div class="landingfooter-item">
                <div><i class="fa-solid fa-location-dot"></i>	203 Fake St. Mountain View, Himachal Pradesh, India</div>
              <div>  <a href="/hotels"><i class="fa-solid fa-phone"></i> +2 392 3647 402</a></div>
              <div><i class="fa-regular fa-envelope"></i> sharmakajal1920@gmail.com</div>
    
              </div>
            </div>
          </div>
          <div class="landingfooter-2">
            Copyright ©2023 All rights reserved
          </div>
        </div>
    </section>


    <!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
<%- include('./partials/footer.ejs') %>